<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GrayBox</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <style>
        body {
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>
<body>
    <div style="max-width: 470px; margin-inline: auto; padding-top: 40px;">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
