<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GrayBox</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/home/layout.css" />
    <link rel="stylesheet" href="~/css/home/home.css" />
    <link rel="stylesheet" href="~/css/home/product_detail.css" />
    <link rel="stylesheet" href="~/css/home/cart.css" />
</head>
<body>
    <nav>
        <a class="nav__brand" asp-controller="home" asp-action="index">
            <i class="bi bi-box-seam"></i>
            <span>GrayBox</span>
        </a>

        <div class="nav__category">
            <i class="bi bi-list"></i>
            <div>Danh mục sản phẩm</div>

            <div class="categories">
                <div class="categories__item">
                    <i class="bi bi-laptop"></i>
                    <div>Laptop</div>
                </div>

                <div class="categories__item">
                    <i class="bi bi-headphones"></i>
                    <div>Tai nghe</div>
                </div>

                <div class="categories__item">
                    <i class="bi bi-keyboard"></i>
                    <div>Bàn phím</div>
                </div>

                <div class="categories__item">
                    <i class="bi bi-mouse2"></i>
                    <div>Chuột</div>
                </div>
            </div>
        </div>

        <div class="nav__search">
            <input type="text" placeholder="Nhập từ khoá cần tìm"/>
            <button>
                <i class="bi bi-search"></i>
            </button>
        </div>

        <div class="nav__right">
            <div class="item">
                <i class="bi bi-person-circle"></i>
                <div>Đăng nhập</div>
            </div>

            <a class="item" asp-controller="cart" asp-action="index">
                <i class="bi bi-cart3"></i>
                <div>Giỏ hàng</div>
            </a>
        </div>
    </nav>
    
    <div class="render__body">
        @RenderBody()
    </div>

    <footer>
        <h4 class="footer__left">
            Công ty cổ phần GrayBox
        </h4>

        <div class="footer__center">
            <div class="font-weight-bold">
                Địa chỉ:
            </div>

            <div>
                Toà nhà Innovation, lô 24, Công viên phần mềm Quang Trung, quận 12
            </div>
        </div>

        <div class="footer__right">
            <div class="font-weight-bold">
                Kết nối với chúng tôi:
            </div>

            <div class="icons">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-envelope"></i>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
