@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Quản lí người dùng";
}

<div>
    <h3>Quản lí người dùng</h3>

    <a asp-controller="admin">Thêm người dùng</a>

    <div class="admin__search">
        <input type="text" placeholder="Nhập từ khoá cần tìm" />
        <button>
            <i class="bi bi-search"></i>
        </button>

        <a style="margin-left: 20px; align-self: center;" asp-controller="admin">--Trở lại--</a>
    </div>

    <table>
        <tr>
            <th>Mã</th>
            <th>Ảnh</th>
            <th>Tên người dùng</th>
            <th>Email</th>
            <th>Quyền</th>
            <th>Hành động</th>
        </tr>
        <tr style="text-align: center;">
            <td style="width: 40px;">1</td>
            <td>
                <img width="60" src="https://st3.depositphotos.com/1767687/16607/v/600/depositphotos_166074422-stock-illustration-default-avatar-profile-icon-grey.jpg" alt="afjawf" />
            </td>
            <td style="max-width: 350px; text-align: left;">Trần Hoài Nam</td>
            <td>namblue0921@gmail.com</td>
            <td>Nhân viên</td>
            <td>
                <button class="btn btn-info">
                    <i class="bi bi-pen"></i>
                </button>
                <button class="btn btn-secondary">
                    <i class="bi bi-trash"></i>
                </button>
            </td>
        </tr>
    </table>
</div>