/*-----------------------------------------------banners------------------------------*/

.carousel button {
    height: 100%;
    position: absolute;
    top: 0;
    border: none;
    outline: none;
    background: #000;
    opacity: 0.1;
}

.carousel button:hover {
    opacity: 0.8;
}

.carousel .button__prev {
    left: 0;
}

.carousel .button__next {
    right: 0;
}


.carousel-indicators li {
    height: 20px;
    width: 20px;
    border-radius: 50% ;
}

.carousel-indicators .active {
    background-color: var(--blue);
}

.home__products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.home__products .product {
    overflow: hidden;
    padding-bottom: 15px;
    padding-inline: 20px;
    background: #fff;

    border: 1px solid #f2f2f2;
}

.home__products .product__img {
    width: 80%;
}


.home__products .product__img:hover {
    transform: scale(1.2);
    transition-duration: 0.7s;
}

.home__products .product__price {
    font-weight: bold;
    color: var(--blue);
    font-size: 18px;
}

